<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dibankuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,85}</string>
                <key>spriteSourceSize</key>
                <string>{84,85}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duizi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,23}</string>
                <key>spriteSourceSize</key>
                <string>{46,23}</string>
                <key>textureRect</key>
                <string>{{87,75},{46,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaopai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,23}</string>
                <key>spriteSourceSize</key>
                <string>{47,23}</string>
                <key>textureRect</key>
                <string>{{87,1},{47,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>santiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,23}</string>
                <key>spriteSourceSize</key>
                <string>{47,23}</string>
                <key>textureRect</key>
                <string>{{87,26},{47,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shunzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{112,75},{46,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tonghua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,22}</string>
                <key>spriteSourceSize</key>
                <string>{47,22}</string>
                <key>textureRect</key>
                <string>{{87,51},{47,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tonghuashun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,22}</string>
                <key>spriteSourceSize</key>
                <string>{72,22}</string>
                <key>textureRect</key>
                <string>{{1,88},{72,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>paixing.png</string>
            <key>size</key>
            <string>{135,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af5fb03b6990537250e86f70aff0b3d5:5ceb5861e80947c6b1df35c46af5b8d5:6df83d089d18a819f9fad25d322bcbfc$</string>
            <key>textureFileName</key>
            <string>paixing.png</string>
        </dict>
    </dict>
</plist>
