<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zz_duiziying.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,29},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>zz_gaopaiying.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,29},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>zz_santiaoying.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,29},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>zz_shunziying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
            <key>zz_tonghuashunying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,25}}</string>
                <key>sourceSize</key>
                <string>{99,25}</string>
            </dict>
            <key>zz_tonghuaying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{75,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,25}}</string>
                <key>sourceSize</key>
                <string>{75,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokerType.png</string>
            <key>size</key>
            <string>{110,133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eb18271de2d930de724fa95324566ff$</string>
            <key>textureFileName</key>
            <string>pokerType.png</string>
        </dict>
    </dict>
</plist>
