<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_num_redel.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1332},{142,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{142,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>add_num_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,682},{148,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,76}}</string>
                <key>sourceSize</key>
                <string>{148,76}</string>
            </dict>
            <key>add_tea_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{545,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,150}}</string>
                <key>sourceSize</key>
                <string>{545,150}</string>
            </dict>
            <key>add_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{684,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,133}}</string>
                <key>sourceSize</key>
                <string>{684,133}</string>
            </dict>
            <key>cellinfo_choose.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1030},{307,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,60}}</string>
                <key>sourceSize</key>
                <string>{307,60}</string>
            </dict>
            <key>cellinfo_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,670},{307,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,60}}</string>
                <key>sourceSize</key>
                <string>{307,60}</string>
            </dict>
            <key>choose_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,979},{286,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,60}}</string>
                <key>sourceSize</key>
                <string>{286,60}</string>
            </dict>
            <key>choose_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,688},{286,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,60}}</string>
                <key>sourceSize</key>
                <string>{286,60}</string>
            </dict>
            <key>createroom_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{428,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,112}}</string>
                <key>sourceSize</key>
                <string>{428,112}</string>
            </dict>
            <key>cum_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1035,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1035,4}}</string>
                <key>sourceSize</key>
                <string>{1035,4}</string>
            </dict>
            <key>customize_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{274,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,10}}</string>
                <key>sourceSize</key>
                <string>{274,10}</string>
            </dict>
            <key>fk_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1522},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>fk_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1246},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>fresh_table_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,588},{92,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,121}}</string>
                <key>sourceSize</key>
                <string>{92,121}</string>
            </dict>
            <key>game_name_Crow.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1339},{160,78}}</string>
                <key>offset</key>
                <string>{-50,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,78}}</string>
                <key>sourceSize</key>
                <string>{260,78}</string>
            </dict>
            <key>game_name_cm.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1522},{260,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,78}}</string>
                <key>sourceSize</key>
                <string>{260,78}</string>
            </dict>
            <key>game_name_dss.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1332},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>game_name_land.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1784},{197,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,78}}</string>
                <key>sourceSize</key>
                <string>{197,78}</string>
            </dict>
            <key>game_name_mj.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1412},{154,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,78}}</string>
                <key>sourceSize</key>
                <string>{154,78}</string>
            </dict>
            <key>game_name_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1522},{260,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,78}}</string>
                <key>sourceSize</key>
                <string>{260,78}</string>
            </dict>
            <key>game_name_ncmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1522},{260,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,78}}</string>
                <key>sourceSize</key>
                <string>{260,78}</string>
            </dict>
            <key>game_name_pzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{322,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,78}}</string>
                <key>sourceSize</key>
                <string>{324,78}</string>
            </dict>
            <key>game_name_wuziqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1252},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>game_name_wzmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1522},{263,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,78}}</string>
                <key>sourceSize</key>
                <string>{263,78}</string>
            </dict>
            <key>game_name_ydr.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1787},{198,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,78}}</string>
                <key>sourceSize</key>
                <string>{198,78}</string>
            </dict>
            <key>game_name_zgma.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,326},{260,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,78}}</string>
                <key>sourceSize</key>
                <string>{260,78}</string>
            </dict>
            <key>game_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1948},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>gold_ittem.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,970},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>gold_ittem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,976},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>gold_room_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{488,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,102}}</string>
                <key>sourceSize</key>
                <string>{488,102}</string>
            </dict>
            <key>input_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,964},{2,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,106}}</string>
                <key>sourceSize</key>
                <string>{2,106}</string>
            </dict>
            <key>jf_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1798},{207,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,131}}</string>
                <key>sourceSize</key>
                <string>{207,131}</string>
            </dict>
            <key>jf_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1784},{166,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,162}</string>
            </dict>
            <key>jf_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,549},{125,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,131}}</string>
                <key>sourceSize</key>
                <string>{125,131}</string>
            </dict>
            <key>lx_tittle.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,682},{286,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,107}}</string>
                <key>sourceSize</key>
                <string>{286,107}</string>
            </dict>
            <key>start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,670},{358,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,112}}</string>
                <key>sourceSize</key>
                <string>{358,112}</string>
            </dict>
            <key>table_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,2},{666,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{666,195}}</string>
                <key>sourceSize</key>
                <string>{666,195}</string>
            </dict>
            <key>yuanbao_ittem.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,976},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>yuanbao_ittem_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,688},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>zjf_mbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,832},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CustomizeLayer.png</string>
            <key>size</key>
            <string>{593,2007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2c8d4eacbb4e54bb8a2d9dd0d93c987:1/1$</string>
            <key>textureFileName</key>
            <string>CustomizeLayer.png</string>
        </dict>
    </dict>
</plist>
