<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EmptyBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1838},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>mj_Again.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,648},{245,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,122}}</string>
                <key>sourceSize</key>
                <string>{245,122}</string>
            </dict>
            <key>mj_Bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,298},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>mj_Bet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1585},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>mj_Bet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1585},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>mj_Bet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1053},{119,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{121,80}</string>
            </dict>
            <key>mj_Bet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,695},{121,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,80}}</string>
                <key>sourceSize</key>
                <string>{121,80}</string>
            </dict>
            <key>mj_Bet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,695},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>mj_BiChosePlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,101},{557,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,159}}</string>
                <key>sourceSize</key>
                <string>{557,159}</string>
            </dict>
            <key>mj_BiJiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,783},{65,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,110}}</string>
                <key>sourceSize</key>
                <string>{65,110}</string>
            </dict>
            <key>mj_BtnQuXiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1880},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_ClockBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,784},{104,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,109}}</string>
                <key>sourceSize</key>
                <string>{106,109}</string>
            </dict>
            <key>mj_Close.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1053},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mj_CutScreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,401},{245,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,122}}</string>
                <key>sourceSize</key>
                <string>{245,122}</string>
            </dict>
            <key>mj_Down.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1585},{91,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,78}}</string>
                <key>sourceSize</key>
                <string>{93,78}</string>
            </dict>
            <key>mj_Ewm.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1438},{222,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,255}}</string>
                <key>sourceSize</key>
                <string>{222,255}</string>
            </dict>
            <key>mj_FanPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,784},{98,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>mj_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1202},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>mj_Invite1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1279},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>mj_Invite2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1279},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>mj_Lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,777},{115,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,99}}</string>
                <key>sourceSize</key>
                <string>{115,99}</string>
            </dict>
            <key>mj_Power.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,262},{34,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,15}}</string>
                <key>sourceSize</key>
                <string>{34,15}</string>
            </dict>
            <key>mj_PowerBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1667},{64,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,41}}</string>
                <key>sourceSize</key>
                <string>{64,41}</string>
            </dict>
            <key>mj_QiPai.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,1695},{183,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,60}}</string>
                <key>sourceSize</key>
                <string>{183,60}</string>
            </dict>
            <key>mj_Share.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1145},{245,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,122}}</string>
                <key>sourceSize</key>
                <string>{245,122}</string>
            </dict>
            <key>mj_Single1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1559},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>mj_Single2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1720},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>mj_Single3.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,1667},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>mj_Single4.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1788},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>mj_Single5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1788},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>mj_Time1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,895},{224,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{224,305}}</string>
                <key>sourceSize</key>
                <string>{226,307}</string>
            </dict>
            <key>mj_Time2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1439},{454,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{454,207}}</string>
                <key>sourceSize</key>
                <string>{456,207}</string>
            </dict>
            <key>mj_TimeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1143},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>mj_TopKuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1996},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>mj_YB.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1202},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>mj_add_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1269},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1427},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_all_socre.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,895},{382,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,110}}</string>
                <key>sourceSize</key>
                <string>{382,110}</string>
            </dict>
            <key>mj_bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1202},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>mj_bet_100k_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,895},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_bet_100k_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1269},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_bet_100w_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,895},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_bet_100w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1269},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_bet_10k_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,895},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_bet_10k_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1269},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_bet_1k_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,895},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_bet_1k_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1269},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_biUserInfoBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1697},{183,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,187}}</string>
                <key>sourceSize</key>
                <string>{183,187}</string>
            </dict>
            <key>mj_bi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1838},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_bi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1680},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_char_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,784},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj_char_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,784},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj_end_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1367,691}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{1367,691}}</string>
                <key>sourceSize</key>
                <string>{1371,693}</string>
            </dict>
            <key>mj_end_info_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,895},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>mj_end_info_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,895},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>mj_end_info_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1430},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>mj_end_info_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,695},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>mj_end_info_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,695},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>mj_end_info_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{248,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,86}}</string>
                <key>sourceSize</key>
                <string>{248,86}</string>
            </dict>
            <key>mj_exchange_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,782},{111,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>mj_exitStatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1667},{127,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,51}}</string>
                <key>sourceSize</key>
                <string>{127,51}</string>
            </dict>
            <key>mj_fallow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1272},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_fallow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1886},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_fallow_all_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1895},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_fallow_all_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1895},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_fallow_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1895},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_giveup_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,895},{151,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{151,156}}</string>
                <key>sourceSize</key>
                <string>{153,156}</string>
            </dict>
            <key>mj_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1427},{130,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,64}}</string>
                <key>sourceSize</key>
                <string>{130,64}</string>
            </dict>
            <key>mj_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,309},{10,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,9}}</string>
                <key>sourceSize</key>
                <string>{10,9}</string>
            </dict>
            <key>mj_img_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,695},{104,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,85}}</string>
                <key>sourceSize</key>
                <string>{104,85}</string>
            </dict>
            <key>mj_img_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1697},{192,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,64}}</string>
                <key>sourceSize</key>
                <string>{192,64}</string>
            </dict>
            <key>mj_img_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,783},{110,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>mj_lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,523},{547,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,259}}</string>
                <key>sourceSize</key>
                <string>{547,259}</string>
            </dict>
            <key>mj_meun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{109,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>mj_no_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,895},{542,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,114}}</string>
                <key>sourceSize</key>
                <string>{542,114}</string>
            </dict>
            <key>mj_phoneInofBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1438},{257,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,67}}</string>
                <key>sourceSize</key>
                <string>{257,67}</string>
            </dict>
            <key>mj_qt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,285},{109,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{109,114}}</string>
                <key>sourceSize</key>
                <string>{111,114}</string>
            </dict>
            <key>mj_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,895},{245,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,122}}</string>
                <key>sourceSize</key>
                <string>{245,122}</string>
            </dict>
            <key>mj_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,895},{245,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,122}}</string>
                <key>sourceSize</key>
                <string>{245,122}</string>
            </dict>
            <key>mj_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,2},{566,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,97}}</string>
                <key>sourceSize</key>
                <string>{566,97}</string>
            </dict>
            <key>mj_sound_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,784},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj_sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,784},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>mj_taxBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,2},{107,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,56}}</string>
                <key>sourceSize</key>
                <string>{107,56}</string>
            </dict>
            <key>mj_wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1733},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>mj_wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1145},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>mj_wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1145},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>mj_wifi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1996},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>mj_wifi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1996},{53,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>mj_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,262},{547,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,259}}</string>
                <key>sourceSize</key>
                <string>{547,259}</string>
            </dict>
            <key>sparrow_end_btnContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,784},{223,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,104}}</string>
                <key>sourceSize</key>
                <string>{223,104}</string>
            </dict>
            <key>sparrow_end_btnQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,60},{223,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,104}}</string>
                <key>sourceSize</key>
                <string>{223,104}</string>
            </dict>
            <key>sparrow_ruleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1202},{90,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,75}}</string>
                <key>sourceSize</key>
                <string>{90,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_Layer.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e242b75ead7945919c4d9339868e20c$</string>
            <key>textureFileName</key>
            <string>mj_Layer.png</string>
        </dict>
    </dict>
</plist>
