<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wifi_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{1007,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1007,123}}</string>
                <key>sourceSize</key>
                <string>{1007,123}</string>
            </dict>
            <key>wifi_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WifiSignal.png</string>
            <key>size</key>
            <string>{1407,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b6c11273945e0683a9282202300d2c0:1/1$</string>
            <key>textureFileName</key>
            <string>WifiSignal.png</string>
        </dict>
    </dict>
</plist>
