<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1007},{31,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,50}}</string>
                <key>sourceSize</key>
                <string>{31,50}</string>
            </dict>
            <key>bag_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,830},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>bag_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,554},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>bth_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{258,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,112}}</string>
                <key>sourceSize</key>
                <string>{258,112}</string>
            </dict>
            <key>cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1007},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>cum_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{1035,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1035,4}}</string>
                <key>sourceSize</key>
                <string>{1035,4}</string>
            </dict>
            <key>delete_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,974},{104,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{104,126}</string>
            </dict>
            <key>detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,758}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,758}}</string>
                <key>sourceSize</key>
                <string>{680,758}</string>
            </dict>
            <key>got.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,974},{197,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,70}}</string>
                <key>sourceSize</key>
                <string>{197,70}</string>
            </dict>
            <key>item_hf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,672},{333,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,210}}</string>
                <key>sourceSize</key>
                <string>{333,210}</string>
            </dict>
            <key>item_hf_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,337},{333,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,210}}</string>
                <key>sourceSize</key>
                <string>{333,210}</string>
            </dict>
            <key>item_hf_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,762},{333,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,210}}</string>
                <key>sourceSize</key>
                <string>{333,210}</string>
            </dict>
            <key>item_hf_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{333,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,210}}</string>
                <key>sourceSize</key>
                <string>{333,210}</string>
            </dict>
            <key>item_hf_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{333,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,210}}</string>
                <key>sourceSize</key>
                <string>{333,210}</string>
            </dict>
            <key>record_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,278},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>record_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bag.png</string>
            <key>size</key>
            <string>{1023,1107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10f563564cbfd069b146a5a5811cf51d:1/1$</string>
            <key>textureFileName</key>
            <string>bag.png</string>
        </dict>
    </dict>
</plist>
