<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_insure.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,270},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,234}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>btn_share_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{306,124}}</string>
                <key>sourceSize</key>
                <string>{308,126}</string>
            </dict>
            <key>pManagement.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,270},{209,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,51}}</string>
                <key>sourceSize</key>
                <string>{209,51}</string>
            </dict>
            <key>p_ck.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{269,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,99}}</string>
                <key>sourceSize</key>
                <string>{269,99}</string>
            </dict>
            <key>p_getv.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,396},{258,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,112}}</string>
                <key>sourceSize</key>
                <string>{258,112}</string>
            </dict>
            <key>pbind_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{684,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,133}}</string>
                <key>sourceSize</key>
                <string>{684,133}</string>
            </dict>
            <key>pboss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{234,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{234,154}}</string>
                <key>sourceSize</key>
                <string>{234,156}</string>
            </dict>
            <key>pshare_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,270},{151,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{151,80}}</string>
                <key>sourceSize</key>
                <string>{287,80}</string>
            </dict>
            <key>psign_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,423},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>ptop.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,137},{684,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{684,131}}</string>
                <key>sourceSize</key>
                <string>{684,133}</string>
            </dict>
            <key>search_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,270},{305,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,124}}</string>
                <key>sourceSize</key>
                <string>{305,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>personalinfo.png</string>
            <key>size</key>
            <string>{924,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:101e45970bac47f204d52f749a60fd51:1/1$</string>
            <key>textureFileName</key>
            <string>personalinfo.png</string>
        </dict>
    </dict>
</plist>
