<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,532},{210,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,106}}</string>
                <key>sourceSize</key>
                <string>{210,106}</string>
            </dict>
            <key>adv_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1354},{352,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,0},{352,68}}</string>
                <key>sourceSize</key>
                <string>{582,68}</string>
            </dict>
            <key>btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1749},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>chart_item_gb.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1749},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>chart_item_gb_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1749},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>chart_item_lt.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1966},{114,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,43}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>chart_item_lt_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1482},{108,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{108,37}}</string>
                <key>sourceSize</key>
                <string>{114,43}</string>
            </dict>
            <key>countinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1354},{126,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,36}}</string>
                <key>sourceSize</key>
                <string>{126,36}</string>
            </dict>
            <key>download_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1674},{236,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,57}}</string>
                <key>sourceSize</key>
                <string>{236,57}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1165},{118,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,101}}</string>
                <key>sourceSize</key>
                <string>{118,101}</string>
            </dict>
            <key>game_item_Cow.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,587},{393,265}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{393,265}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_LandFour1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,564},{393,299}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{393,299}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_cm.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,311},{393,251}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{393,251}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_doudizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,959},{393,295}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{393,295}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_dss.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,982},{393,295}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{393,295}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1893},{384,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,142}}</string>
                <key>sourceSize</key>
                <string>{384,142}</string>
            </dict>
            <key>game_item_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{650,191}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{650,191}}</string>
                <key>sourceSize</key>
                <string>{660,197}</string>
            </dict>
            <key>game_item_menji.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{393,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,307}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_ncmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1377},{393,273}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{393,273}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_shuiguoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{656,191}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{656,191}}</string>
                <key>sourceSize</key>
                <string>{660,197}</string>
            </dict>
            <key>game_item_sparrow_my.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1354},{393,279}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{393,279}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_sparrow_pzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1279},{393,271}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{393,271}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_touzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{656,197}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{656,197}}</string>
                <key>sourceSize</key>
                <string>{660,197}</string>
            </dict>
            <key>game_item_wuziqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1354},{393,235}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{393,235}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>game_item_ydr.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,587},{576,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,162}}</string>
                <key>sourceSize</key>
                <string>{576,162}</string>
            </dict>
            <key>game_item_zgmj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1772},{393,235}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{393,235}}</string>
                <key>sourceSize</key>
                <string>{393,307}</string>
            </dict>
            <key>gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1273},{278,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,47}}</string>
                <key>sourceSize</key>
                <string>{278,47}</string>
            </dict>
            <key>history_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,587},{684,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,133}}</string>
                <key>sourceSize</key>
                <string>{684,133}</string>
            </dict>
            <key>info_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1879},{98,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,65}}</string>
                <key>sourceSize</key>
                <string>{98,65}</string>
            </dict>
            <key>pic_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,744},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>plaza_anonounce_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,309},{123,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,221}}</string>
                <key>sourceSize</key>
                <string>{123,221}</string>
            </dict>
            <key>plaza_bar_jjkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1165},{130,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,42}}</string>
                <key>sourceSize</key>
                <string>{130,42}</string>
            </dict>
            <key>plaza_btn_hf.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1322},{117,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,42}}</string>
                <key>sourceSize</key>
                <string>{117,42}</string>
            </dict>
            <key>plaza_chartopbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{788,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,52}}</string>
                <key>sourceSize</key>
                <string>{788,52}</string>
            </dict>
            <key>plaza_gamedownload_effect_jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1749},{384,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,142}}</string>
                <key>sourceSize</key>
                <string>{384,142}</string>
            </dict>
            <key>plaza_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1273},{278,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,47}}</string>
                <key>sourceSize</key>
                <string>{278,47}</string>
            </dict>
            <key>plaza_tbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,846},{101,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,97}}</string>
                <key>sourceSize</key>
                <string>{101,97}</string>
            </dict>
            <key>plaza_ttopbg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{831,1279},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>search_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,2},{305,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,124}}</string>
                <key>sourceSize</key>
                <string>{305,124}</string>
            </dict>
            <key>sm_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,587},{684,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,132}}</string>
                <key>sourceSize</key>
                <string>{684,132}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1268},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>tea_cell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1946},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>team_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1749},{215,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,76}}</string>
                <key>sourceSize</key>
                <string>{215,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PlazaLayer.png</string>
            <key>size</key>
            <string>{1181,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9522a213fd7030fb4e1493a63c6939f:1/1$</string>
            <key>textureFileName</key>
            <string>PlazaLayer.png</string>
        </dict>
    </dict>
</plist>
