<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Slider_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{154,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,107}}</string>
                <key>sourceSize</key>
                <string>{154,107}</string>
            </dict>
            <key>Slider_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,2},{445,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,57}}</string>
                <key>sourceSize</key>
                <string>{445,57}</string>
            </dict>
            <key>Slider_ibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,61},{367,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,57}}</string>
                <key>sourceSize</key>
                <string>{367,57}</string>
            </dict>
            <key>login_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{258,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,112}}</string>
                <key>sourceSize</key>
                <string>{258,112}</string>
            </dict>
            <key>off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,64},{341,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,60}}</string>
                <key>sourceSize</key>
                <string>{341,60}</string>
            </dict>
            <key>on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,2},{341,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,60}}</string>
                <key>sourceSize</key>
                <string>{341,60}</string>
            </dict>
            <key>settop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,133}}</string>
                <key>sourceSize</key>
                <string>{684,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>set.png</string>
            <key>size</key>
            <string>{1894,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99e57939f4e9e5b6696bb89947b2f7ea:1/1$</string>
            <key>textureFileName</key>
            <string>set.png</string>
        </dict>
    </dict>
</plist>
