<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>share_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{229,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,93}}</string>
                <key>sourceSize</key>
                <string>{229,93}</string>
            </dict>
            <key>share_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,112},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
            <key>share_got.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,137},{143,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,53}}</string>
                <key>sourceSize</key>
                <string>{143,53}</string>
            </dict>
            <key>share_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{684,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,133}}</string>
                <key>sourceSize</key>
                <string>{684,133}</string>
            </dict>
            <key>share_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{132,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{132,108}}</string>
                <key>sourceSize</key>
                <string>{132,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>share.png</string>
            <key>size</key>
            <string>{822,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a1e8cddb35b26d88b1cf85146f48db1:1/1$</string>
            <key>textureFileName</key>
            <string>share.png</string>
        </dict>
    </dict>
</plist>
