<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shopanimbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{476,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,199}}</string>
                <key>sourceSize</key>
                <string>{476,199}</string>
            </dict>
            <key>shoplayer_108_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{96,72}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_108_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1},{94,64}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{94,64}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_108_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,96},{94,60}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{94,60}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_108_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,201},{94,52}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{94,52}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_108_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{94,52}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{94,52}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_12_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1},{62,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{62,90}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_12_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,92},{60,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{60,90}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_12_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1},{60,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{60,90}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_12_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,183},{60,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{60,90}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_12_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,92},{60,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{60,90}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_308_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,76},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{72,74}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_308_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1},{72,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{72,74}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_308_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{74,72}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_308_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,202},{56,50}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{56,50}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_308_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,202},{56,48}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{56,48}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_30_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,1},{86,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{86,58}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_30_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,76},{86,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,18},{86,58}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_30_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,183},{86,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{86,58}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_30_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,197},{86,54}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{86,54}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_30_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,201},{86,48}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{86,48}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_50_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,60},{38,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{38,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_50_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,163},{38,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{38,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_50_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,201},{38,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{38,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_50_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,201},{38,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{38,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_50_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,201},{38,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{38,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_518_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,98},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_518_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,98},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_518_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1},{94,62}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{94,62}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_518_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,96},{98,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>shoplayer_518_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,195},{98,58}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopanim.png</string>
            <key>size</key>
            <string>{1041,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b75572e246854373889628e7bbdfdc2:1/1$</string>
            <key>textureFileName</key>
            <string>shopanim.png</string>
        </dict>
    </dict>
</plist>
