<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameSRLF_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{307,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,172}}</string>
                <key>sourceSize</key>
                <string>{307,172}</string>
            </dict>
            <key>gameSRLF_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,698},{307,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,172}}</string>
                <key>sourceSize</key>
                <string>{307,172}</string>
            </dict>
            <key>gameSRLF_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{307,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,172}}</string>
                <key>sourceSize</key>
                <string>{307,172}</string>
            </dict>
            <key>game_btnDefualt.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,334},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>game_settingBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,872},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>game_settingBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{595,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,52}}</string>
                <key>sourceSize</key>
                <string>{595,52}</string>
            </dict>
            <key>game_settingLBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{330,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,40}}</string>
                <key>sourceSize</key>
                <string>{330,40}</string>
            </dict>
            <key>game_settingLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{330,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,40}}</string>
                <key>sourceSize</key>
                <string>{330,40}</string>
            </dict>
            <key>game_settingOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>game_settingOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,444},{86,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,50}}</string>
                <key>sourceSize</key>
                <string>{86,50}</string>
            </dict>
            <key>game_settingQuit.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,872},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>game_settingsRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>game_spLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{46,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,2}}</string>
                <key>sourceSize</key>
                <string>{46,2}</string>
            </dict>
            <key>game_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,524},{307,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,172}}</string>
                <key>sourceSize</key>
                <string>{307,172}</string>
            </dict>
            <key>game_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,350},{307,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,172}}</string>
                <key>sourceSize</key>
                <string>{307,172}</string>
            </dict>
            <key>game_t3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,176},{307,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,172}}</string>
                <key>sourceSize</key>
                <string>{307,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_settings.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb891ebe4585ce02b6f2a5d7bd9b10d8$</string>
            <key>textureFileName</key>
            <string>game_settings.png</string>
        </dict>
    </dict>
</plist>
